
@media (max-width: 1500px) {
  
  .box-container {
    max-width: 1000px;
  }

  .recent-pictures-container {
    flex-wrap: wrap;
  }

  .main-container-childhood {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 1200px) {

  .studies-section {
    flex-direction: column;
    gap: 0;
    margin: 0 auto;
  }
}

@media (max-width: 1070px) {
  
  .box-container {
    max-width: 900px;
  }
  
  .main-footer-container {
    flex-wrap: wrap;
    gap: 10px;
  }

   .links-container {
     flex-direction: column;
    gap: 10px;
   }
   
   .wrapper i:first-child {
     left: -8px;
  }
  
  .wrapper i:last-child {
    right: -8px;
  }

  .artistic-style-section {
    height: 130vh;
  }

  .main-container-artistic-style {
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 960px) {
  :root {
    font-size: 15px;
  }
  
  .carousel img {
    width: calc(100% / 2);
  }

  .nav-links {
    display: none;
  }
  
  .box-container {
    max-width: 700px;
  }

  /* toggle-menu */
  .menu-toggle {
    background-image: url(https://i.postimg.cc/qq7WKZ1m/menu.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    cursor: pointer;
  }

  .close-button-menu-toggle.active {
    display: flex;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    z-index: 100;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-darck-color);
    position: fixed;
    right: 0;
    top: -20px;
    width: 100%;
    height: 100%;
  }
  
  .main-container-childhood img {
    object-fit: cover;
    width: 600px;
    height: 570px;
  }

  .div-play-button, .video-katz {
    width: 600px;
    height: 430px;
  }

  .artistic-style-section {
    height: 120vh;
  }

}

@media (max-width: 730px) {
  
  :root {
    font-size: 14px;
  }
  
  .carousel img {
    width: 100%;
  }

  .links-container, .input-button {
    margin-top: 20px;
   }

  .box-container {
    max-width: 400px;
  }

  .artistic-style-section {
    height: 170vh;
  }  


  .colored-container {
    flex-direction: column;
  }

  .container-text {
    padding: 0 0.5rem;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 620px) {

  .main-container-childhood img {
    object-fit: cover;
    width: 470px;
    height: 440px;
  }

  .div-play-button, .video-katz {
    width: 480px;
    height: 370px;
  }
}

