:root {
  --light-text-color: #fff;
  --primary-color: #FF7E33;
  --primary-darck-color: #4E4444;
  --lato-font-family: "Lato", sans-serif;
  --century-gothic-font-family: "Century Gothic";
  --font-weight-400: 400;
  --font-weight-700: 700;
}